
body {
  background-color: #333;
  margin: 0;
}

.game {
  display: flex;
  padding: 2.5vh 10px;
  width: fit-content;
  margin: auto;
}

.game-well {
  display: flex;
  flex-wrap: wrap;
  width: 50vh;
  height: 95vh;

  div {
    width: 4.75vh;
    height: 4.75vh;
  }
}

.info {
  width: 25vh;

  .player-data div {
    background-color: white;
    
    p {
      margin: 0;
      padding: 10px;
    }
  }

  .next,
  .hold {
    height: 25vh;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    position: relative;
    margin-top: 10px;

    .label {
      position: absolute;
      top: 0;
    }

    div {
      display: flex;
      flex-wrap: wrap;

      div {
        width: 4.75vh;
        height: 4.75vh;
      }
    }
  }
}

.pause {
  position: absolute;
  left: 23.75vh;
  transform: translate(-50%, 0);
}

@keyframes flash {
  100% {
    background-color: white;
  }
}